<?xml version="1.0" encoding="utf-8"?>
<manifest package="fi.oma.tasopeli"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/icon"
        >
        <activity
            android:name="fi.oma.peli.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Peli"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MenuActivity"
             android:label="Peli" >
        </activity>
        <activity
            android:name="fi.oma.peli.GameActivity"
             android:label="Peli" >
        </activity>
        <activity
             android:name="fi.oma.database.DataActivity"
             android:label="Peli" >
        </activity>
        <activity
             android:name="fi.oma.peli.OptionsActivity"
             android:label="Options" >
        </activity>
    </application>
</manifest>